.container {
  max-width: 1140px;
  margin: 0 auto; }

#header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #header img {
    width: 80px; }
  #header #nav ul {
    display: flex; }
    #header #nav ul li {
      list-style: none;
      margin: 0 20px; }
      #header #nav ul li a {
        text-decoration: none;
        color: black;
        font-size: 18px; }
        #header #nav ul li a:hover {
          color: red;
          transition: all .5s; }
