
/* bf-testimonial-slick */
.bf-testimonial-slick{
    margin-bottom: 0 !important;
}
.slide-arrow{
    position: absolute;
    top: 50%;
    margin-top: -15px;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.prev-arrow{
    left: -40px;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 15px solid #113463;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.next-arrow{
    right: -40px;
    width: 0;
    height: 0;
    border-right: 0 solid transparent;
    border-left: 15px solid #113463;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.bf-testimonial-slick-single{
    color:#fff;
    text-align: center;
    border-radius: 10px;
    /*background-image: linear-gradient(142deg, #020b15 -14%, #041331 121%);*/
    padding: 50px 70px;
}
.slick-slide {
    margin: 0 15px;
}
@media only screen and (min-width: 992px){
    .slick-slide {
        margin: 0 25px;
    }
}

.bf-testimonial-icon i{
    font-size: 20px;
    letter-spacing: 5.4px;
    color: #f8c51c;
}
.bf-testimonial-title i{
    font-size: 40px;
    color: #dcdcdc;
}
.bf-testimonial-message p{
    font-size: 20px;
    text-align: center;
    color: #a1a1a1;
}

/* Testimonial Spacing */
.bf-testimonial-icon {
    margin-bottom: 13px;
}
.bf-testimonial-title {
    margin-bottom: 36px;
}
.bf-testimonial-message {
    padding: 0 50px;
    margin-bottom: 45px;
}
@media only screen and (max-width: 1367px){
    .bf-testimonial-slick-single{
        padding: 20px;
    }
    .bf-testimonial-message {
        padding: 0 10px;
    }
}
@media only screen and (max-width: 991px){
    .bf-testimonial-slick-single{
        padding: 20px;
    }
    .bf-testimonial-message {
        padding: 0;
    }
}
@media only screen and (max-width: 576px){
    .bf-testimonial-message p{
        font-size: 17px;
    }
    .bf-testimonial-title {
        margin-bottom: 26px;
    }
    .bf-testimonial-title i{
        font-size: 30px;
    }
    .bf-testimonial-message {
        margin-bottom: 15px;
    }
}

