@import "variables";
#header{
  background-color: $color-header;
  &-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
  }
  .logo{
    width: 130px;
  }
  #nav{
    ul{
      display: flex;
      li{
        list-style: none;
        margin: 0 20px;
        a{
          text-decoration: none;
          color: black;
          font-size: 18px;
          text-transform: uppercase;
          &:hover{
            color: $color-hover;
            transition: all .5s;
          }
        }
      }
    }
  }
}