@import "variables";
#header{
  background-color: $header-bg-color;
  .header-flex{
    padding: 16px 15px;
  }
  .logo{
    width: 130px;
  }
  #nav{
    display: block;
    ul{
      list-style: none;
      li{
        margin: 0 0 0 20px;
        a{
          color: $nav-link-color;
          font-size: 16px;
          text-transform: uppercase;
          &:hover{
            color: $nav-link-hover-color;
            transition: all .5s;
          }
        }
      }
    }
  }
  i{
    display: none;
    font-size: 24px;
    cursor: pointer;
  }
  .sidenav{
    height: 100%;
    position: fixed;
    z-index: 400;
    top: 0;
    left: -50%;
    width: 50%;
    background-color: $footer-bg-color;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    a{
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 20px;
      color: $sidebar-text-color;
      display: block;
      transition: 0.3s;

      &:hover{
        color: $nav-link-hover-color;
      }
    }
    .closebtn{
      position: absolute;
      top: -10px;
      right: 0;
      font-size: 30px;
      margin-left: 50px;

      &:hover{
        color: $nav-link-hover-color;
      }
    }
    &.sidenav-show{
      left: 0;
    }
  }
}

.banner{
  background-image: url("../images/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  height: calc(100vh - 62px);
  position: relative;
  margin-bottom: 50px;
  &-centering{
    flex-direction: column;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
    height: 100%;
    h1{
      font-size: 40px;
      color: $banner-heading-color;
      margin-bottom: 10px;
    }
    h2{
      font-size: 32px;
      color: $banner-sub-heading-color;
      margin-bottom: 10px;
    }
  }
}

.services-section{
  border-bottom: 1px solid $services-border-color;
  margin-bottom: 40px;
  .col{
    flex-basis: 25%;
    padding: 0 11px;
    margin-bottom: 50px;
    h3{
      font-size: 18px;
      color: $services-heading-color;
      padding: 15px 0;
    }
    p{
      font-size: 14px;
      color: $body-text-color;
    }
    img{
      margin: 0 auto;
      display: block;
      width: 90px;
      height: 90px;
      border-radius: 100%;
    }
  }
}

.section-work{
  h3{
    font-size: 18px;
    color: $services-heading-color;
    margin-bottom: 40px;
  }
  &-grid{
    margin: 0 -5px;
    .col{
      margin-bottom: 40px;
      flex-basis: 33.33%;
      padding: 0 5px;
    }
    img{
      height: 280px;
      object-fit: cover;
    }
    h4{
      font-size: 18px;
      color: $services-heading-color;
      padding: 18px 0;
    }
    h5{
      font-size: 13px;
      color: $work-sub-heading-color;
      padding-bottom: 15px;
    }
    p{
      font-size: 14px;
      color: $body-text-color;
      line-height: 30px;
    }
  }
}

.section-testmonials{
  background-color: $header-bg-color;
}

#footer{
  background-color: $footer-bg-color;
  padding: 50px 0;
  .footer-grid{
    border-bottom: 1px solid $services-border-color;
    margin-bottom: 50px;
    .footer-column-container{
      margin: 0 -20px;
    }
    .footer-col{
      flex-basis: 25%;
      padding: 0 20px;
      .icon-plus{
        display: none;
      }
      .title{
        font-size: 18px;
        color: $footer-heading-color;
      }
      ul{
        list-style: none;
        margin-top: 30px;
        li{
          color: $footer-text-color;
          font-size: 14px;
          padding-bottom: 25px;
          display: flex;
          font-weight: 300;
          a{
            color: $footer-text-color;
          }
          span{
            display: block;
            padding-top: 9px;
          }
          i{
            color: $footer-icon-color;
            font-size: 10px;
            margin: 5px 6px 0 0;
          }
        }
      }
      p{
        font-size: 14px;
        color: $footer-text-color;
        padding-bottom: 10px;
        i{
          color: $footer-icon-color;
          font-size: 10px;
          margin: 5px 6px 0 0;
        }
      }
    }
  }
  &-copyright{
    max-width: 1140px;
    margin: 0 auto;
    color: $footer-text-color;
    padding: 0 15px;
  }
}

@media (max-width: 1030px) {
  .banner-centering{
    h1 {
      font-size: 32px;
    }
    h2{
      font-size: 25px;
    }
  }
}

@media (max-width: 854px) {
  #footer{
    .footer-grid{
      .footer-column-container{
        margin: 0 -10px;
      }
      .footer-col{
        flex-basis: 25%;
        padding: 0 10px;
      }
    }
  }
  .banner{
    height: calc(80vh - 62px);
  }
  .banner-centering{
    h1 {
      font-size: 24px;
    }
    h2{
      font-size: 18px;
    }
  }
}

@media (max-width: 728px) {
  .banner-centering{
    h1 {
      font-size: 24px;
    }
    h2{
      font-size: 18px;
    }
  }
  #header{
    #nav{
      display: none;
    }
    i{
      display: block;
    }
  }
  .services-section{
    .col{
      flex-basis: 50%;
    }
  }
  .section-work-grid{
    .col{
      flex-basis: 50%;
    }
  }
  #footer{
    .footer-grid{
      .footer-col{
       flex-basis: 50%;
      }
    }
  }
}


@media (max-width: 480px) {
  #header{
    .logo{
      width: 100px;
    }
  }
  .banner{
    height: calc(52vh - 62px);
  }
  .banner-centering{
    h1 {
      font-size: 18px;
    }
    h2{
      font-size: 14px;
    }
  }
  .services-section{
    .col{
      flex-basis: 100%;
    }
  }
  .section-work-grid{
    .col{
      flex-basis: 100%;
      padding-left: 0;
    }
  }
  #footer{
    padding: 30px 0;
    .footer-grid{
      margin: 0 0 15px;
      .footer-column-container{
        margin: 0;
      }
      .footer-col{
        position: relative;
        flex-basis: 100%;
        margin-bottom: 15px;
        padding: 0;
        .icon-plus{
          display: block;
          color: $banner-btn-text-color;
          position: absolute;
          top: 0;
          right: 0;
        }
        .footer-content{
          display: none;
        }
        .title{
          color: $banner-btn-text-color;
        }
      }
    }
    &-copyright{
      p{
        font-size: 14px;
      }
    }
  }
}

