@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');
@import "variables";
$roboto-slab: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

#main {
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: calc(100vh - 500px);
}

body {
  font-family: $roboto-slab;
  margin: 0;
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
  color: $nav-link-color;
}

h1, h2, p, button, a {
  font-family: $roboto-slab;
}
address{
  font-style: inherit;
}
.btn-primary{
  background-color: $banner-btn-bg-color;
  color: $banner-btn-text-color;
  padding: 10px 10px;
  border: 1px solid $banner-btn-bg-color;
  outline: none;
  border-radius: 2px;
  font-size: 14px;
  margin: 16px auto;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  &:hover{
    background-color: $banner-btn-bg-hover-color;
    color: $banner-btn-text-hover-color;
    border: 1px solid $banner-btn-bg-hover-color;
    transition: all .5s;
  }
}

.d-flex {
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.img-responsive {
  width: 100%;
  height: auto;
  display: block;
}

.list-none {
  margin: 0;
  padding: 0;
  list-style: none;
}

.d-block {
  display: block;
}

label {
  cursor: pointer;
}

input[type="submit"],
button {
  cursor: pointer;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}

img {
  vertical-align: top;
  border-style: none;
}

button:focus,
textarea:focus,
input:focus,
select {
  outline: none;
}

*:focus {
  outline: none;
}
