$nav-link-color:#000;
$nav-link-hover-color:#33c0a5;
$header-bg-color:#e5e5e5;
$color-banner-heading:#f3f3f3;
$color-banner-sub-heading:#a8a8a8;
$color-banner-btn-bg:#3f8dbf;
$color-banner-btn-bg-hover:#fff;
$color-banner-btn-text:#fff;
$color-banner-btn-text-hover:#3f8dbf;
$services-heading-color:#4e4e4e;
$services-border-color:#6b6767;
$body-text-color:#616161;
$work-sub-heading-color:#a8a8a8;
$footer-heading-color:#6c6c6c;
$footer-text-color:#cacaca;
$footer-bg-color:#000;
$footer-icon-color:#a89574;