@import "variables";

.container{
  max-width: 1140px;
  margin: 0 auto;
}

#header{
  @include flexLayout;
    img{
      width: 80px;
    }
  #nav{
    ul{
      display: flex;
      li{
        list-style: none;
        margin: 0 20px;
        a{
          text-decoration: none;
          color: black;
          font-size: 18px;
          &:hover{
            color: red;
            transition: all .5s;
          }
        }
      }
    }
  }
}